<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer 03 Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap"
        rel="stylesheet"
    >
 <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
    <link rel="stylesheet" href="catalogo.component.css">
</head>
<body>
<div class="banner">
    <p class="titulo">Coleccionables</p>    
</div>
<div class="volver">Inicio/Coleccionables</div>
<div><img src="" alt=""></div>
<div class= "container">
   <div class="flex">
    <div class="item1">
        <div>
            <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
            <div class="nombre2">
                <span class="name">Descripción</span>
                <br> 
                <span class="precio">$45.000</span> 
                <br>                  
                <input type="button" value="Comprar">
            </div>
        </div>
    </div>    
    <div class="item2"> <div>
        <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
        <div class="nombre2">
            <span class="name">Descripción</span>
            <br> 
            <span class="precio">$45.000</span> 
            <br>                  
            <input type="button" value="Comprar">
        </div>
    </div>
</div>
    <div class="item3"> <div>
        <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
        <div class="nombre2">
            <span class="name">Descripción</span>
            <br> 
            <span class="precio">$45.000</span> 
            <br>                  
            <input type="button" value="Comprar">
        </div>
    </div>
</div>
    <div class="item3"> <div>
        <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
        <div class="nombre2">
            <span class="name">Descripción</span>
            <br> 
            <span class="precio">$45.000</span> 
            <br>                  
            <input type="button" value="Comprar">
        </div>
    </div>
</div>
<div>

</div>

   </div>          
</div>                

    <div class= "container">
        <div class="flex">
         <div class="item1">
             <div>
                 <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
                 <div class="nombre2">
                     <span class="name">Descripción</span>
                     <br> 
                     <span class="precio">$45.000</span> 
                     <br>                  
                     <input type="button" value="Comprar">
                 </div>
             </div>
         </div>    
         <div class="item2"> <div>
             <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
             <div class="nombre2">
                 <span class="name">Descripción</span>
                 <br> 
                 <span class="precio">$45.000</span> 
                 <br>                  
                 <input type="button" value="Comprar">
             </div>
         </div>
     </div>
         <div class="item3"> <div>
             <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
             <div class="nombre2">
                 <span class="name">Descripción</span>
                 <br> 
                 <span class="precio">$45.000</span> 
                 <br>                  
                 <input type="button" value="Comprar">
             </div>
         </div>
     </div>
         <div class="item3"> <div>
             <div class ="card"><img src ="/src/assets"></div>
             <div class="nombre2">
                 <span class="name">Descripción</span>
                 <br> 
                 <span class="precio">$45.000</span> 
                 <br>                  
                 <input type="button" value="Comprar">
             </div>
         </div>
     </div>
     <div>
     
     </div>
     
        </div>          
     </div>
     <div>  
</div>
<div>
    <div class= "container">
        <div class="flex">
         <div class="item1">
             <div>
                 <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
                 <div class="nombre2">
                     <span class="name">Descripción</span>
                     <br> 
                     <span class="precio">$45.000</span> 
                     <br>                  
                     <input type="button" value="Comprar">
                 </div>
             </div>
         </div>    
         <div class="item2"> <div>
             <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
             <div class="nombre2">
                 <span class="name">Descripción</span>
                 <br> 
                 <span class="precio">$45.000</span> 
                 <br>                  
                 <input type="button" value="Comprar">
             </div>
         </div>
     </div>
         <div class="item3"> <div>
             <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
             <div class="nombre2">
                 <span class="name">Descripción</span>
                 <br> 
                 <span class="precio">$45.000</span> 
                 <br>                  
                 <input type="button" value="Comprar">
             </div>
         </div>
     </div>
         <div class="item3"> <div>
             <div class ="card"><img src ="https://drive.google.com/file/d/1SixTinrQDK2M6SiT5cDlvT0h3a1Phu8F/view?usp=sharing"></div>
             <div class="nombre2">
                 <span class="name">Descripción</span>
                 <br> 
                 <span class="precio">$45.000</span> 
                 <br>                  
                 <input type="button" value="Comprar">
             </div>
         </div>
     </div>
     <div>     
     </div>     
       </div>          
     </div> 
</div>
<div>
    <div class= "container">
        <div class="flex2">
        <div class="circulo" id="vacio"></div>
        <div class="circulo">1</div>
        <div class="circulo1">2</div>
        <div class="circulo1">3</div>
        <div class="circulo"></div>    
        
     </div>   
</div>
     
    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
</body>
</html>
