*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.banner{    
    margin-top: 0px;
    width: 1440px ;
    height: 150px ;       
    background: radial-gradient(ellipse 600px 100px at 50% 100% ,#d72323 0%,#551010 100%);
    
}
.titulo{
    padding-top: 80px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;;
    font-weight: 500;
    font-size: 40px;      
    
}
.flex{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 80px;
    
}
.volver{
    margin-top: 15px;
    margin-left: 60px;
    font-family: "Poppins", sans-serif;;
    color: #861919;
    font-size: 15px;
    
}
div[class^='item']{
   
    width: 255px;
    height: 383px;
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;    
    border-radius: 5px ;
    background-color: #FFE7E7;
    margin :10px ;    
    box-shadow: 0px 1px 10px  #aca9a9; 
    cursor:default;
    transition: all 400ms ease;
    
}
div[class^='item']:hover{
    box-shadow: 5px 5px 20px  #828181;
    transform: translateY(-3%);
}
.card img{
    width:85%;
    margin-bottom: 0px;
    margin-left: 5px;
}
.nombre2 .name {
    padding-left: 10px;
    margin-top: 10%;
    margin-right: 50%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;

}
.nombre2{
    margin-top: 10%;
}
.nombre2 .precio {
  
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 24px;
    color: #000000;
    padding-left: 10px;
}
input[type="button"] {
    border-radius: 30px;
    background-color: #D72323;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 30px;
    padding-right: 30px;
    cursor:default;
    transition: all 400ms ease;
}
input[type="button"]:hover{
    background-color: #912020;
}
.circulo{

    padding-top: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #D72323;
    color:#f9f8f8;
    box-sizing: border-box;
    border-color: #d72323;
    border-radius: 200px;
    justify-content: center;
    
    
}
.flex2{
   
    display: flex;
    justify-content:center;
    margin-bottom: 50px;

    
}
.circulo1{
    padding-top: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100px;
    border: 2px solid #d72323;
    box-sizing: border-box;
    
}




