<div class="grid gap-4">
  <div class="w-4/5 xl:h-80 rounded-2xl border-2 border-red-700 bg-white mx-auto">
    <img class="h-full mx-auto max-w-full rounded-lg" src="./assets/images/figuras.svg" alt="">
  </div>
  <div class="flex space-x-3 flex-row justify-center">
    <div class="w-1/5">
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
    </div>
    <div class="w-1/5">
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
    </div>
    <div class="w-1/5">
      <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
    </div>
  </div>
</div>
