<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Registro</title>
    <link rel="stylesheet" href="register.component.css">
</head>
<body>
    <div class="sidenav-bg"></div>
    <div class="main-content">
        <div class="form-register-default">
            <h1 class="title">Crear una cuenta</h1>
            <div class="input-container">
                <label for="name" class="form-title">Nombre y apellido</label>
                <input type="text" id="name" name="name" placeholder="Escribe tu nombre y apellido">
            </div>
            <div class="input-container">
                <label for="email" class="form-title">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Escribe tu e-mail">
            </div>
            <div class="input-container">
                <label for="password" class="form-title">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Escribe tu contraseña">
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="terms" name="terms">
                <label for="terms">Acepto términos y condiciones</label>
            </div>
            <button class="button">Registrar</button>
            <div class="divider">
                <div class="line"></div>
                <div class="or">o ingresar con</div>
                <div class="line"></div>
            </div>
            <div class="social-login">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="register-now">
                <div class="frame-1015"></div>
                <div class="label">¿Ya tienes una cuenta? <span class="register-now-text">Inicia sesión</span></div>
            </div>
        </div>
    </div>
</body>
</html>
