.payment-container {
    display: flex;
    justify-content: space-around;
    
    margin: 20px;
}
.payment-selection, .order-details {
    width: 38%;
    
}
.payment-btn{
   color: #D72323
}
  
h2 {
    font-size: 1.5rem;
    font-family: "Poppins",sans-serif;
}
h3{
    font-family: "Poppins",sans-serif; 
}
  
.payment-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
  
.btn {
    padding: 10px 20px;
    border: 1px solid #d40000;
    border-radius: 20px;
    background-color: white;
    font-family: "Poppins",sans-serif;
    color: #D72323;
    cursor: pointer;
}
.btn:hover{
    background-color: #D72323;
    color:#ffffff /* Darker red on hover */
}
  
.btn.selected {
    border: 1px solid #cc0000;
    background-color: #fff;
    color: #D72323;
    cursor: pointer;
}
.btn.selected:hover {
    background-color: #D72323;
    color:#ffffff /* Darker red on hover */
}
  
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
  
.payment-table .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}
  
.card-icon img {
    width: 40px;
}
  
.card-number {
    flex: 1;
    margin-left: 10px;
}
  
.card-expiry {
    margin-right: 10px;
}
  
.select-btn {
    background-color: white;
    border: 1px solid #d40000;
    color: #D72323;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 10px;
}
  
.confirm-btn {
    background-color:#fff;    
    border: 1px solid #d40000;
    color:#d40000;   
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
}
  
.confirm-btn:hover {
    background-color: #cc0000;
    color:#ffffff /* Darker red on hover */
}
  
.form-group {
    margin-bottom: 10px;
    font-family: "Poppins",sans-serif;
}
  
.form-row {
    display: flex;
    gap: 30px;
}
  
input[type="text"], input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #d40000;
    border-radius: 5px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
  input[type="checkbox"] {
    width: auto;
  }
  
  .order-details table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 231, 231, 1); 
    font-family: "Poppins",sans-serif;
  }
  
  .order-details td {
    padding: 10px;
  }
  
  .final-btn {
    display: block;
    margin: 60px auto;
    padding: 10px 40px;
  }
  