<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    
<div class="banner">Banner</div>
<div class="categorias">
    <div class="categoria">
        <div class="nombre">Franquicias</div>
    </div>
    <div class="categoria">
        <div class="nombre">Consolas</div>
    </div>
    <div class="categoria">
        <div class="nombre">Género</div>
    </div>
    <div class="categoria">
        <div class="nombre">PC</div>
    </div>
</div>

<div class="banner2">
<h1>Coolstuff</h1>
<h2>Peluches, figuras, funkos, cuadros y muchas cosas más!</h2>
</div>

<h2 class="titulo">Recién llegados</h2>

<div class="llegados">
    <div class="llegado">
        <div class="nombre2"> <span class="name">name</span> <span class="precio">precio</span> <br> <span class="juego">juego</span><br> <input type="button" value="Comprar"></div>
    </div>
    <div class="llegado">
        <div class="nombre2"> <span class="name">name</span> <span class="precio">precio</span> <br> <span class="juego">juego</span><br> <input type="button" value="Comprar"></div>
    </div>
    <div class="llegado">
        <div class="nombre2"> <span class="name">name</span> <span class="precio">precio</span> <br> <span class="juego">juego</span><br> <input type="button" value="Comprar"></div>
    </div>
</div>

<h2 class="titulo">Nuestros servicios</h2>

<div class="servicios">
    <div class="servi">
        <div class="nombre">Franquicias</div>
        Precios a tu medida
    </div>
    <div class="servi">
        <div class="nombre">Consolas</div>
        Pago con tarjetas 
        débito y crédito
    </div>
    <div class="servi">
        <div class="nombre">Género</div>
        Envió rápido 
        y seguro
    </div>
    <div class="servi">
        <div class="nombre">PC</div>
        Productos de
        calidad
    </div>
</div>

</body>
</html>
