<app-nav-bar></app-nav-bar>

<div class="product-container">
  <div class="product-images">
    <div class="main-image">
      <img [src]="product.image" alt="{{ product.name }}">
    </div>
    <div class="thumbnail-images">
      <div class="thumbnail">
        <img [src]="product.image" alt="{{ product.name }}">
      </div>
      <div class="thumbnail">
        <img [src]="product.image" alt="{{ product.name }}">
      </div>
      <div class="thumbnail">
        <img [src]="product.image" alt="{{ product.name }}">
      </div>
    </div>
  </div>
  <div class="product-details">
    <div class="product-title">
      {{ product.name }}
      <div class="product-rating">
        ⭐⭐⭐⭐⭐
      </div>
    </div>
    <div class="product-category">
      <span>Category:</span> Toys {{ product.coleccionable }}
    </div>
    <div class="product-price">
      ${{ product.price }}
    </div>
    <div class="product-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum.
      <br><br>
      <p *ngIf="product.active">Este producto está activo</p>
      <p *ngIf="!product.active">Este producto no está activo</p>
    </div>
    <br>
    <div class="product-stock">
      <span>(Stock: {{ product.stock }} Unidades)</span>
    </div>
    <div class="product-actions">
      <button (click)="addToCart()" class="btn-add-to-cart">Añadir al Carrito</button>
      <button class="btn-add-to-wishlist">Añadir a Lista de Deseados</button>
    </div>
  </div>
</div>

<app-footer></app-footer>