/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-container {
    position: relative;
    width: 1262px;
    height: 698px;
    background: #FFE7E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    margin: 40px auto; /* Auto para centrar horizontalmente */
}

.product-images {
    width: 53%;
    position: relative;
    margin: 0 auto; /* Centrar horizontalmente */
}

.main-image {
    width: 75%; /* Ancho del rectángulo principal */
    height: 60%;
    overflow: hidden;
    position: relative;
    margin: auto; /* Centrar horizontal y verticalmente */
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.main-image img {
    width: 50%;
    height: auto;
    display: block;
    object-fit: cover;
}

.thumbnail-images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail-images .thumbnail {
    cursor: pointer;
    flex: 1;
    border-radius: 10px; /* Añadir bordes redondeados */
    overflow: hidden;
    background-color: #f0f0f0;
    height: 100px; /* Ajustar altura según se necesite */
}

.thumbnail-images img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain; /* Ajuste para que la imagen se vea completa */
}

.product-details {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-title {
    margin-top: 10%;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4%;
    display: flex;
    align-items: center;

    /* Title */
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}

.product-rating {
    font-size: 18px;
    margin-left: 10px; /* Espacio entre el título y la valoración */
    display: flex;
    align-items: center;
}

.product-description {
    /* Body Text */
    width: 480px;
    height: 96px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 5%;
}

.product-category, .product-price {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.product-category span {
    font-weight: bold;
    margin-right: 10px; /* Espacio entre "Category:" y "Toys" */
}

.product-price {
    margin-top: 5%;
    margin-bottom: 10px;

    /* Restaurar estilo original */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    color: #861919;
}

.product-stock {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.product-stock span {
    color: #D72323;
    font-weight: bold;
    margin-right: 10px; /* Espacio entre "Stock:" y el número */
}

.product-actions {
    margin-top: 86%; /* Ajustado para subir los botones */
    display: flex;
    position: absolute;
    left: 20px; /* Ajusta según sea necesario */
}

.btn-add-to-cart{
    color: white;
    padding: 15px 30px; /* Agrandar los botones */
    background-color: #D72323;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;

    /* Background */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-add-to-wishlist {
    color: rgb(0, 0, 0);
    padding: 15px 30px; /* Agrandar los botones */
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;

    /* Background */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.btn-add-to-cart:hover, .btn-add-to-wishlist:hover {
    background-color: #FF7F7F;
}

.btn-add-to-wishlist:hover {
    color: white;
}

/* Media queries para adaptar a distintas resoluciones */
@media (max-width: 1200px) {
    .product-container {
        flex-direction: column;
        height: auto;
        max-width: 90%;

    }

    .product-images {
        width: 100%;
    }

    .thumbnail-images {
        width: 100%;
        overflow-x: auto;
    }

    .product-details {
        width: 100%;
        padding: 10px;
    }


   
    .product-actions{
        margin-top: 10%; /* Ajustado para subir los botones */
        display: flex;
        position: relative;
        left: 0px; /* Ajusta según sea necesario */
    }

}



/*llegado viejo*/

/* Estilo para los llegados */
.llegados {
    display: flex;
    padding: 0 250px 50px 250px;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilo para cada elemento llegado */
.llegado {
    background-color: #FFE7E7;
    flex: 1 1 358px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 466px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 70px;
}

.llegado:hover {
    transform: scale(1.03);
}

/* Estilo para la imagen dentro del div llegado */
.llegado img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

.nombre2 {
    color: #141416;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
}

.nombre2 .name {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.nombre2 .precio {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #D72323;
}

/* Estilo para botones */
input[type="button"] {
    border-radius: 30px;
    background-color: #D72323;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 30px;
    padding-right: 30px;
}

/* Estilo para los llegados */
.llegados {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Botón de navegación */
.nav-button {
    flex-shrink: 0;
    background-color: #FFE7E7;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 20px;
    border-radius: 100%;
}

.nav-button:hover {
    background-color: #FFB6B6;
}

.llegado {
    background-color: #FFE7E7;
    flex: 1 1 250px; /* Reducir el ancho mínimo */
    max-width: 380px; /* Ajustar el ancho máximo si es necesario */
    margin: 5px; /* Reducir el margen para que los elementos estén más juntos */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 466px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden;
}

.llegado:hover {
    transform: scale(1.03);
}

/* Estilo para la imagen dentro del div llegado */
.img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background-color: hsla(0, 0%, 100%, 0.671);
    border-radius: 5px;
}

.img img {
    display: block;
    margin: 0 auto;
    max-width: 55%;
    height: auto;
}

/* Estilo para el contenedor de nombre, precio y juego */
.nombre2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ajustado para ocupar todo el ancho disponible */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 20px;
}

.nombre2 .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
}

.nombre2 .name {
    width: 60%; /* Ocupa el 50% del espacio */
}

.nombre2 .precio {
    width: 20%; /* El 30% restante */
    margin-left: 20px; /* Añadimos un espacio de margen entre name y precio */
}

.nombre2 .juego {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 10px;
}

.nombre2 input[type="button"] {
    align-self: center;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FFB6B6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nombre2 input[type="button"]:hover {
    background-color: #FF7F7F;
}

/* Estilo para el elemento seleccionado */
.llegado.seleccionado {
    background-color: #ff000034; /* Filtro rojo leve */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .llegados {
        padding: 0 20px 20px 20px;
        gap: 20px;
    }

    .llegado {
        flex: 1 1 calc(33.33% - 40px); /* Ajustado para ocupar un tercio del contenedor */
    }

    .nombre2 {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .llegados {
        flex-wrap: wrap;
        padding: 0 10px 10px 10px;
        gap: 10px;
        justify-content: center;
    }

    .llegado {
        flex: 1 1 calc(50% - 20px); /* Ajustado para ocupar la mitad del contenedor */
    }

    .nav-button {
        display: none;
    }

    .nombre2 {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .llegados {
        padding: 0 10px 10px 10px;
        gap: 10px;
        justify-content: center;
    }

    .llegado {
        flex: 1 1 calc(100% - 20px); /* Ajustado para ocupar todo el ancho del contenedor */
    }

    .nombre2 {
        padding: 5px;
    }
}
