<link rel="stylesheet" href="carrito.component.css">

 <div class="container1">
    <div class="flex">
       <div class="circulo">3</div>    
    <span class="titulo">Carrito</span>
 
    </div>
    </div>
<div class="container">
   
    <div class="row">
        <div class="box1">
            <span class="span">Producto</span>
        </div>
        <div class="box1">
            <span class="span">Precio</span>
        </div>
        <div class="box1">
            <span class="span">Cantidad</span>

        </div>
        <div class="box1">
            <span class="span">Precio Total</span>
        </div>
        <div class="box1">
            <span> </span>
        </div>
    </div>
    <div class="row">
        <div class="box">hola</div>
        <div class="box">hola</div>
        <div class="box">hola</div>
        <div class="box">hola</div>
        <div class="box">hola</div>
    </div>
    <div class="row">
        <div class="box">hola</div>
        <div class="box">hola</div>
        <div class="box">hola</div>
        <div class="box">hola</div>
        <div class="box">hola</div>
    </div>
</div>
