<link rel="stylesheet" href="carrito.component.css">

 <div class="container1">
    <div class="flex">
       <div class="circulo">3</div>    
    <span class="titulo">Carrito</span>
 
    </div>
    </div>
<div class="container">
   <div>
    <div class="row">
        <div class="box1" id="redondeo">
            <span class="span">Producto</span>
        </div>
        <div class="box1">
            <span class="span"></span>
        </div>
        <div class="box1">
            <span class="span">Precio</span>
        </div>
        <div class="box1">
            <span class="span">Cantidad</span>

        </div>
        <div class="box1">
            <span class="span">Precio Total</span>
        </div>
        <div class="box1" id="redondeo2">
            <span> </span>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="container-image">                
                <img src="/src/assets/img/Background.png" alt=""class="imagen">                
            </div>                     
        </div>
        <div class="box">
            <div class="description">
                <h5 class="nombreP">Nombre del Producto</h5>
                <p class="descriProd">Esta es la descripción del producto.</p>
            </div>
        </div>
        <div class="box">            
            <div class="precio">
                <span >45$</span>
            </div>
        </div>
        <div class="box">
            <div class="quantity-control">
                <button id="quantity-btn"><img src="/src/assets/img/Minus.png" class="icon-cant"><span id="quantity">1</span><img src="/src/assets/img/Plus.png" class="icon-cant"></button>               
            </div>
        </div>
        <div class="box">
            <div class="precio">
                <span >45$</span>
            </div> 
        </div>
        <div class="box">
            <div class="eliminarP">
            <span >X</span> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="container-image">                
                <img src="/src/assets/img/Background.png" alt=""class="imagen">                
            </div> 
        </div>
        <div class="box">
            <div class="description">
                <h5 class="nombreP">Nombre del Producto</h5>
                <p class="descriProd">Esta es la descripción del producto.</p>
            </div>
        </div>
        <div class="box">
            <div class="precio">
            <span >45$</span>
            </div>
        </div>
        <div class="box">
            <div class="quantity-control">
                <button id="quantity-btn"><img src="/src/assets/img/Minus.png" class="icon-cant"><span id="quantity">1</span><img src="/src/assets/img/Plus.png" class="icon-cant"></button>               
            </div>
            </div>
        <div class="box">
            <div class="precio">
                <span >45$</span>
            </div>
        </div>
        <div class="box" id="redondeo4">
            <div class="eliminarP">
                <span >X</span> 
            </div>
           
        </div>
    </div>
    </div>
    <div>
    <div class="finalizar" >
    <div class="container2">
        <div>
        <h4 class="tituloh4">Envío</h4>
        </div>
        <div>
        <span class="envio">Estándar</span>
        <span class="demora">Demora entre 3 a 5 días</span>
        <span class="precio">$45</span>
        <button class="boton"><span id="seleccionar">Seleccionar</span></button>
        </div>
        <br>
        <div>
        <span class="envio">Rápido</span>
        <span class="demora2">Demora entre 1 a 2 días</span>
        <span class="precio">$45</span>
        <button class="boton"><span id="seleccionar">Seleccionar</span></button>
        </div>
    </div>
    </div>
    </div>
 </div>
   <div>
