.titulo{
    font-family: "Popins",sans-serif;
    font-size: 30px;
    font-weight:bold;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 30px;
    
}
.circulo{

    padding-top: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #D72323;
    color:#f9f8f8;
    box-sizing: border-box;
    border-color: #d72323;
    border-radius: 200px;
   
    margin-left: 10px;
    top: 50%;   
  
  
    
}
.container1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;    

}
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
        
    
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.box {
    width: 150;
    height: 90px;
    background-color: rgba(255, 231, 231, 1);
    border-top: 1px solid rgba(255, 231, 231, 1);
    border-bottom: 1px solid rgba(255, 231, 231, 1);
    margin:0px;
   
    
}
.box1{
    width: 150px ;
    height: 30px;
    background-color: rgba(255, 231, 231, 1);
    border-top: 1px solid rgba(255, 231, 231, 1);;
    border-bottom: 1px solid rgba(255, 231, 231, 1);;   
    text-align:justify;
    padding-block: 10px;  
  
    

}
.span{
    margin-left: 10px;
    position:top;
    font-family: "Popins",sans-serif;
    font-weight: bold;
}

.container-image{
    margin-top:10px;  
    margin-left: 10px;    
    margin-bottom: 10px;    
    background-color: white; /* Establecer el color de fondo del contenedor como blanco */
    display: inline-block; /* Alinear el contenedor como un bloque en línea */
    
}
.image-container img {
    position: center;
    display: block; /* Asegurar que la imagen se muestre como un bloque */
    width: 100%; /* Opcional: hacer que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Opcional: permitir que la altura de la imagen se ajuste automáticamente */
}
.nombreP{
    margin-bottom: 0px;
}
.descriProd{
    margin-top: 0px;
}
.precio{

    font-weight: bold;
    margin-top: 25px;
    margin-left: 30px;
}

.quantity-control button {
    
    background: none;
    border: 1px solid #861919;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    border-radius: 20px;    
    margin-top: 25px;

}   

#quantity{
    color: #861919;
    margin: 10px;
}
#quantity-btn{
    color: #861919;
    font-family:"Popins",sans-serif;
    font-size: 20px;
}
.icon-cant{
    width: 15px;
    padding-inline: 8px;
}
.eliminarP{
    margin-top: 25px;
    margin-left: 25px;
}
#redondeo{
    border-radius: 10px 0px 0px 0px;
}
#redondeo2{
    border-radius: 0px 10px 0px 0px;
}
#redondeo3{
    border-radius: 0px 0px 0px 10px;
}
#redondeo4{
    border-radius: 0px 0px 10px 0px;
}
.container2{
    display: inline-block;
    position: center;
    margin-left: 0px;
}
.finalizar{
    text-align:left ;
    display: flex;  
    align-content: flex-start;    
    position:center;
    width: 100%;
    
}
.container2{
    width: 850px;
    height: fit-content;
}
.tituloh4{
    font-weight: bold; 
    font-family: "Poping",sans-serif;
    font-size: larger;
    margin-bottom: 0px;


}
.envio{
    font-weight: bold;
    margin-right: 80px;
    display: inline-flex;
    font-family: "Poping",sans-serif;
    
}
.demora{
    margin-left: 20px;
    display: inline-flex;
}
.demora2{
    margin-left: 30px;
}

.boton{
    font-weight: 300px;
    color: #d72323;
    margin-left: 200px;
    background: none;
    border: 1px solid #D72323;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    border-radius: 20px;    
    margin-top: 25px;
    transition: background-color 0.3s, color 0.3s; 
}
.boton:hover{
color: #fff; 
background-color: #D72323;
}

.box3{
    display: flex;
    width: 1000px; /* Ajusta el ancho según tus necesidades */
    height: 50px; /* Ajusta la altura según tus necesidades */
    border-top: 2px solid #000; /* Línea en la parte superior */
    margin-top: 30px;  
    padding-top: 50px;
    justify-content: flex-end; 
    font-size: large; 
    font-weight: bold;  
    font-family: "Popins", sans-serif;    
}
.total{
    margin-right: 30px;
}
.pre{
    margin-right: 240px;
}
.container4{
    display: flex;   
    margin-bottom: 30px;
    
}
.boton2{  
    color:#D72323;
    margin-left: 200px;
    background: none;
    border: 1px solid #D72323;
    padding: 10px 45px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    border-radius: 20px;    
    margin-top: 25px;
    transition: background-color 0.3s, color 0.3s; 
}
.boton2:hover {
    color: #fff; 
    background-color: #D72323; 
   
  }

