
<style>
    .invert-image {
        filter: invert(1); /* Invertir los colores */
        width: 100px;
        height: auto;
    }
</style>
    <link rel="stylesheet" href="catalogo.component.css">

<app-nav-bar></app-nav-bar>
<body>


<div class="banner">
    <img src="https://res.cloudinary.com/dfulftofe/image/upload/v1718282962/Group_405_l2a0bd.png" alt="">
    <p class="titulo"> Coleccionables</p>    
</div>

<div class="container1">    
    <div class="volver">Inicio/Coleccionables/</div>    
    <div class="filter"><img src="/assets/img/filtro.png" alt="Filtrar"></div>
</div>


<div  *ngIf="productos.length === 0">
   <h1 class="nohay" > No hay productos para mostrar.</h1>
</div>



<div class="container2" *ngIf="productos.length > 0">
    <div class="flex1" *ngFor="let producto of productos">
        <div class="item1" (click)="goToProduct(producto.id)">
            <div class="card">
             <div class="cardimg">
                <a href="javascript:void(0)" class="img">
                    <img [src]="producto.image">
                </a>
             </div>
            </div>
            <div class="descripcion">
                <span class="name">{{producto.name}}</span>
                <span class="name">{{producto.coleccionable}}</span>
                <span class="precio">${{producto.price}}</span>
                <input type="button" value="Comprar" (click)="addToCart(producto.id)">
            </div>
        </div>
    </div>
</div>



<div class="container" *ngIf="productos.length > 0">
    <div class="pagination">
        <div class="circle arrow" id="prev"><i class="fas fa-chevron-left"></i></div>        
        <div class="circle number" id="page1" data-page="1">1</div>        
        <div class="circle number" id="page2" data-page="2">2</div>
        <div class="circle number" id="page3" data-page="3">3</div>
        <div class="circle number" id="page4" data-page="4">4</div>
        <div class="circle number" id="page5" data-page="5">5</div>
        <div class="circle arrow" id="next"><i class="fas fa-chevron-right"></i></div>    
    </div>   
</div>

 <div class="banner3-image">
    <img src="https://res.cloudinary.com/dfulftofe/image/upload/v1718287562/Group_371_1_ogeoyw.png" alt="Footer Image">
  </div>

    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
    <app-footer></app-footer>



