
<style>
    .invert-image {
        filter: invert(1); /* Invertir los colores */
        width: 100px;
        height: auto;
    }
</style>
    <link rel="stylesheet" href="catalogo.component.css">

<app-nav-bar></app-nav-bar>
<body>


<div class="banner">
    <p class="titulo">Coleccionables</p>    
</div>

<div class="container">    
<div class="volver">Inicio/Coleccionables</div>    
<div class="filter"><img src="/assets/img/filtro.png" alt="Filtrar"></div>

</div>
<div *ngIf="productos.length === 0">
    No hay productos para mostrar.
</div>
    <div class= "container" *ngIf="productos.length > 0">
        <div class="flex" *ngFor="let producto of productos" >
         <div class="item1">
             <div >
                 <div class ="card"><img [src]="producto.image"></div>
                 <div class="descripcion">
                     <span class="name">{{producto.name}}</span>
                     <span class="name">{{producto.coleccionable}}</span>
                     <br> 
                     <span class="precio">${{producto.price}}</span> 
                     <br>                  
                     <input type="button" value="Comprar">
                 </div>
             </div>
         </div>  
       </div>          
     </div> 

<div>
    <div class= "container">
        <div class="flex2">
        <div class="circulo" id="espacio1"><img src="/assets/img/flecha.png" alt="flecha"></div>        
        <div class="circulo" id="espacio">1</div>        
        <div class="circulo1" id="espacio">2</div>
        <div class="circulo1" id="espacio">3</div>
        <div class="circulo"><img src="/assets/img/flecha.png" alt="flecha"></div>    
        
     </div>   
</div>
     <div class="container flex">
      
       
        <div class="invert-image"><img src="/assets/img/Lego (1).png" alt="" id="marca"></div>
        <div class="invert-image"><img src="/assets/img/929827 copia.png" alt="" id="marca"></div>
        <div class="invert-image"><img src="/assets/img/Need.png" alt="" id="marca"></div>
        <div class="invert-image"><img src="/assets/img/fifa.png" alt="" id="marca"></div>
        <div class="invert-image"><img src="/assets/img/sonic.png" alt="" id="marca"></div>
        <div class="invert-image"><img src="/assets/img/pokemon.png" alt="" id="marca"></div>
        <div class="invert-image"><img src="/assets/img/fortnite.png" alt="" id="marca"></div>
        <div class="invert-image"><img src="/assets/img/mario.png" alt="" id="marca"></div>
        <div class="invert-image"><img src="/assets/img/Sims.png" alt="" id="marca"></div>           

     </div>
    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
    <app-footer></app-footer>



