*{
    margin:0;
    padding:0;
    box-sizing: border-box;   

}
.banner{    
    margin-top: 0px;
    width: auto ;
    height: 150px ;       
    background: radial-gradient(ellipse at center,#d72323 0%,#551010 100%);
}
.titulo{
    padding-top: 80px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;;
    font-weight:bolder;
    font-size: 40px;      
    
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container{
    margin-top: 90px;    
    
}
.volver{
    margin-top: 10px;
    margin-left: 60px;    
    font-family: "Poppins", sans-serif;;
    color: #861919;
    display: flex;    
    justify-content: flex-start;
}
.filter{
    margin-right: 80px;
    display: flex;
    justify-content: flex-end;    
}
div[class^='item']{
   
    width: 255px;
    height: 383px;
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;    
    border-radius: 5px ;
    background-color: #FFE7E7;
    margin :10px ;    
    box-shadow: 0px 1px 10px  #aca9a9; 
    cursor:default;
    transition: all 400ms ease;
    
}
div[class^='item']:hover{
    box-shadow: 5px 5px 20px  #828181;
    transform: translateY(-3%);
}
.card img{
    
    width:85%;
    margin-bottom: 0px;
    margin-left: 5px;
}

.descripcion{
    margin-top: 10%;
}
.name {

    padding-left: 10px;
    margin-top: 10%;
    margin-right: 50%;
    font-family: "Poppins", sans-serif;    
    font-size: 15px;
}
.precio {
  
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-size: 14px;
    color: #000000;
    padding-left: 14px;
    font-weight: bold;
 
}
input[type="button"] {
    border-radius: 30px;
    background-color: #D72323;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 30px;
    padding-right: 30px;    
    transition: background-color 0.3s ease;
}
input[type="button"]:hover{
    background-color: #861919
}


.circulo{

    padding-top: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #D72323;
    color:#f9f8f8;
    box-sizing: border-box;
    border-color: #d72323;
    border-radius: 200px;
    justify-content: center;
    
}
.flex2{
   
    display: flex;
    justify-content:center;

    
}
.circulo1{
    
    padding-top: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100px;
    border: 3px solid #d72323;
    
}
#espacio1{
    transform: rotate(180deg);
    margin-right: 6px;
}
#espacio{
    margin-right: 6px;
}
#marca{
    margin-bottom: 50px;;
}




