<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar Example</title>
    <link rel="stylesheet" href="nav-bar.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">GAMER GODS</div>
        <ul class="nav-links">
            <li class="nav-item dropdown">
                <a href="#">Coleccionables</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Figuras</a></li>
                    <li><a href="#">Funkos</a></li>
                    <li><a href="#">Libros</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#">Juguetes</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Peluches</a></li>
                    <li><a href="#">Juegos de mesa</a></li>
                    <li><a href="#">Cartas</a></li>
                    <li><a href="#">Puzzles</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#">Oficina</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Cuadernos</a></li>
                    <li><a href="#">Lapiceras</a></li>
                    <li><a href="#">Mochilas</a></li>
                    <li><a href="#">Accesorios PC</a></li>
                    <li><a href="#">Pins y stickers</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#">Hogar</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Cuadros</a></li>
                    <li><a href="#">Tazas</a></li>
                    <li><a href="#">Luces</a></li>
                    <li><a href="#">Botellas</a></li>
                    <li><a href="#">Alfombras</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#">Ropa</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Camisetas</a></li>
                    <li><a href="#">Buzos</a></li>
                    <li><a href="#">Medias</a></li>
                    <li><a href="#">Gorros</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </li>
        </ul>
        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" placeholder="Buscar">
        </div>
        <div class="icons nav-links">
            <div class="icon-item dropdown">
                <i class="fas fa-shopping-cart "></i>
                <ul class="dropdown-menu dropdown-menu-right ">
                    <li><a href="#">Ver carrito</a></li>
                    <li><a href="#">Finalizar compra</a></li>
                </ul>
            </div>
            <div class="icon-item dropdown">
                <i class="fas fa-user"></i>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Iniciar sesión</a></li>
                    <li><a href="#">Registrarse</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Salir</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
