<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar Example</title>
    <link rel="stylesheet" href="nav-bar.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="menu-toggle" (click)="toggleMenu()"><i class="fas fa-bars"></i></div>
        <div class="logo"><img class="imgLogo" routerLink="/" src="https://res.cloudinary.com/dfulftofe/image/upload/v1718030452/Logo_dixwzs.png" alt="Logo"></div>
        <ul class="nav-links" [class.active]="menuActive">
            <li class="nav-item"><a href="javascript:void(0)" (click)="viewDetails('COLECCIONABLE')">Coleccionables</a></li>
            <li class="nav-item"><a href="javascript:void(0)" (click)="viewDetails('JUGUETE')">Juguetes</a></li>
            <li class="nav-item"><a href="javascript:void(0)" (click)="viewDetails('OFICINA')">Oficina</a></li>
            <li class="nav-item"><a href="javascript:void(0)" (click)="viewDetails('HOGAR')">Hogar</a></li>
            <li class="nav-item"><a href="javascript:void(0)" (click)="viewDetails('ROPA')">Ropa</a></li>
        </ul>
        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" placeholder="Buscar">
        </div>
        <div class="icons">
            <div class="icon-item dropdown">
                <img class="carrito" routerLink="/cart" src="https://res.cloudinary.com/dfulftofe/image/upload/v1718031272/shopping_cart_skqt3a.png" alt="Shopping Cart">
            </div>
            <div class="icon-item dropdown">
                <img class="perfil" src="https://res.cloudinary.com/dfulftofe/image/upload/v1718031093/Vector_tds2f1.png" alt="Profile">
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a routerLink="/login">Iniciar sesión</a></li>
                        <li><a routerLink="/register">Registrarse</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#">Salir</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <script src="nav-bar.component.js"></script>
    </body>
    </html>
    