body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.imgLogo {
    width: 70%;
    height: 70%;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.nav-item {
    position: relative;
}

.nav-item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
}

.nav-item a:hover {
    background-color: #f0e9e9;
    border-radius: 4px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu li {
    border-bottom: 1px solid #afaeae;
    padding: 10px 15px;
}

.dropdown-menu li a {
    color: #000000;
    display: block;
    text-decoration: none;
    text-align: left;
}

.dropdown-menu li:hover {
    background-color: #f0e9e9;
}

.nav-item:hover .dropdown-menu,
.icon-item:hover .dropdown-menu {
    display: block;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    margin-right: 20px;
    box-sizing: border-box;
    width: 462px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #494848;
    border-radius: 45px;
}

.search-icon {
    color: #333;
}

.search-container input {
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.icons {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.perfil,
.carrito {
    width: 30px;
    height: 30px;
    margin-right: 50px

}

.icon-item {
    position: relative;
    margin-right: 15px;
    cursor: pointer;
}

.icon-item .fas {
    font-size: 20px;
}

@media (max-width: 1024px) {
    .navbar {
        flex-wrap: wrap;
    }

    .logo,
    .search-container,
    .icons {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .logo {
        justify-content: flex-start;
        flex: 2;
    }

    .search-container {
        justify-content: center;
        margin: 10px 0;
        width: auto;
    }

    .icons {
        justify-content: flex-end;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-item a {
        padding: 10px 20px;
        text-align: left;
        margin-left: 20px;
    }


    .perfil,
    .carrito {
        width: 30px;
        height: 30px;
        margin-right: 0px
    
    }
    

}

/* Specific adjustments for the right alignment of dropdown menus */
.icon-item .dropdown-menu {
    right: 0;
    left: auto;
}

.nav-item .dropdown-menu {
    right: 0;
    left: auto;
}

/* Custom dropdown positioning */
.nav-item:not(.cart-item):not(.profile-item) .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
}
